body {
    background-color: #f1f3f5;
}

.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.main__container>.left__container {
    background-color: aqua;

}

.main__container>.right__container {
    background-color: red;
    align-content: center;
}
.left__container> p{
    font-size: 24px;
    width: 400px; 
    margin-top: 0px;   

}